@model ProyectoFinal__RyN__.Models.Departamento

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Departamento</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Depto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Depto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Depto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Depto)
        </dd>

    </dl>
</div>
<p>

    <a class="btn btn-default btn-success" href="~/Departamento/Edit/@Model.Id_Depto">
        Editar

    </a>

    <a class="btn btn-default btn-success" href="~/Departamento/Index/">
        Listado de Departamentos

    </a>
</p>