
@{
    ViewBag.Title = "calcular Nomina";
}
<br />
<h2>Validar Nomina</h2>

<div>
    
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Monto Total actual", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <font size="12"> @ViewBag.calcuNomina </font>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <p>
                    Monto total de empleados activos,
                    ¿Generar nomina a partir de este mes?
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Validar y Generar", "CalcuNomina", "Nomina", new { @class = "btn btn-success" })
                @Html.ActionLink("Cancelar", "Index", "Home", new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>

<div>

</div>