@model ProyectoFinal__RyN__.Models.Cargo

@{
    ViewBag.Title = "Delete";
}


<br />  
<h3>Esta seguro que desea eliminar este cargo?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Cargo)           
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Nombre_Cargo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default btn-info" /> |
        <a class="btn btn-default btn-success" href="~/Cargo/Index/">
            Listado de Cargos

        </a>
    </div>
    }
</div>
