@model ProyectoFinal__RyN__.Models.Cargo

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Cargo</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Cargo)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Cargo }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
<p>

    <a class="btn btn-default btn-success" href="~/Cargo/Edit/@Model.Id_Cargo">
        Editar
    </a> ||
    <a class="btn btn-default btn-success " href="~/Cargo/Index/">
        Ir a lista de Cargos
    </a>
</p>
