@{
    ViewBag.Title = "About";
}
<br /><br />
<center><h2><strong>Acerca de Nosotros</strong> </h2></center>
<hr />
<div class="row">
    <div class="col-xs-5 col-sm-2">
      
       
    </div>
    <div class="browse-movie-link col-xs-10 col-sm-5">

        <br />
        <h4><strong>&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;Raynier Lara</strong></h4>
        <img src="/Imagenes/Ray.jpg" width="300"  height="320"/>
        <br />
        <h4>Tegnologo en software</h4>
        <h4>Matricula: 2017- 4467</h4>
        <h4>Edad: 21 Años</h4>

    </div>

    <div class="col-xs-10 col-sm-4">
        <br />
        <h4><strong>&emsp;&emsp;&emsp;&emsp;&ensp;Nathanael Cedeño</strong></h4>
        <img src="/Imagenes/Natha.jpg" width="300" height="320" />
        <br />
        <h4>Tegnologo en software</h4>
        <h4>Matricula: 2017- 5125</h4>
        <h4>Edad: 26 Años</h4>

    </div>
    @*<hr />*@

</div>

