@{
    ViewBag.Title = "About";
}
<center><h2><strong>Acerca de Nosotros </strong></h2></center>
<table>
    <tr>
        <td>  <h4>Raynier Lara</h4>    </td>
        
        
        <td> <img src="/Imagenes/Ray.jpg" width="20%" /></td>
        <td><h4>Matricula: 2017-4467</h4> </td>
        <td> <h4>Tegnologo en software</h4></td>
        <td><h4>Edad: 21</h4> </td>
        

        
        
        
    </tr>

   

        <hr />
        <h4>Nathanael </h4>
        <img src="/Imagenes/Natha.jpg" width="20%" />
        <br />

        <h4>Matricula: 2017-5125</h4>
        <h4>Tegnologo en software</h4>
        <h4>Edad: 26</h4>
    


</table>
