@{
    ViewBag.Title = "Inicio";
}
<h1 align="Center"><strong>Recursos humanos</strong></h1>
<div class="container" align="center">
    <img class="irc_mi" src="https://www.eticalegal.mx/wp-content/uploads/2019/05/summit_anim_home.gif"
         alt="Imagen relacionada" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)"
         height="375" style="margin-top: 10px;">
</div>


<hr />

<h4>
    Esta pagina web se basa en todos los procesos que tiene una pagina web sobre los empleados en una empresa.El departamento <br />de recursos humanos es el que se encarga de muchas tareas relacionadas con el personal de la empresa.Tiene una series de <br /> funciones que le caracterizan dentro de la empresa, y las cuales la hacen una figura imprescindible en muchas empresas.<br />
</h4>



    <h3><strong>Algunas de sus funciones básicas son:</strong></h3>

<h4>
    El reclutamiento, para la búsqueda  y atracción de candidatos en el momento en que lo necesitan. <br />
    La selección, con el proceso adecuado para contratar a la persona más idónea al puesto. <br />
    La contratación, una vez se ha seleccionado la persona adecuada y se quiere mantener una relación formal. <br />
    La capacitación y el desarrollo, para mejorar los conocimientos, actitudes y/o capacidades de las personas en la empresa. <br />
</h4>

<h3><strong>Algunas de las funciones, concretando más, del departamento de recursos humanos en la empresa son:</strong></h3>
<h4>
    -La incorporación del personal en la empresa, pasando por todos los procesos necesarios hasta que la persona se adapta a su puesto. <br />
    -La educación y capacitación del personal, un proceso que debe ser continuo. <br />
    -La administración de sueldos, beneficios y prestaciones, con todo lo que ello conlleva y procurando la satisfacción de los trabajadores en pro de la empresa. <br />
    -El liderazgo, para que los trabajadores sean inducidos o influidos de cara a un mayor rendimiento en su trabajo. <br />
    -La motivación de los trabajadores para un mejor desempeño. <br />
    -Favorecer la comunicación dentro de la empresa. <br />
    -Crear las políticas generales de la administración de los recursos humanos y de personal. <br />
    -Mantener actualizados la documentación y registros del personal. <br />
    -Realizar los trámites administrativos de cargas familiares, accidentes de trabajo, licencias médicas, etc. <br />
    -Asesorar al personal sobre derecho laboral. <br />
    -Controlar los horarios de trabajo y asistencia. <br />
    -Crear programas de bienestar y promoción, retención y manejo de trabajadores clave o talentos. <br />
    -Evaluación y control del desempeño. <br />
    -Dirección y creación de equipos de trabajo. <br />
</h4>
